[run]
branch = True
source = io_scene_xray
omit =
    io_scene_xray/ui/*
    io_scene_xray/panels/*
    io_scene_xray/viewport/*
	*/ui.py

[report]
exclude_lines =
    def draw(self, context):
    def invoke(self, context, event):
